<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form id="submitForm">
        <button type="submit" class="btn btn-primary" >Submit</button>
        
    </form>
</body>
<script>
    const form = document.getElementById('submitForm')
    form.addEventListener('submit', webhookSubmit)
    async function webhookSubmit(event) {
        event.preventDefault()
        const title = "Title: Test"
        const text = "Text: test"
        const result = await fetch('/json', {
            method: 'POST',
            headers: { "Content-Type": "application/json"},
            body: JSON.stringify({title: title, text: text})
            }
        ).then(res => res.json())
    }    
</script>
</html>
