<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Checkout</title>
</head>
<body>
    <form id="submitForm">
        <label for="ticketNum">Ticket Number: </label>
        <input type="text" name="ticketNum" id="ticketNum">
        <label for="productNum">Product Number: </label>
        <input type="text" name="productNum" id="productNum">
        <label for="quantity">Quantity: </label>
        <input type="text" name="quantity" id="quantity">
        <label for="submittedBy">SubmittedBy: </label>
        <input type="text" name="submittedBy" id="submittedBy">
        <button type="submit" class="btn btn-primary" >Submit</button>
        
    </form>
</body>
<script>
    const form = document.getElementById('submitForm')
    form.addEventListener('submit', webhookSubmit)
    async function webhookSubmit(event) {
        event.preventDefault()
        const ticketNum = document.getElementById('ticketNum').value
        const productNum = document.getElementById('productNum').value
        const quantity = document.getElementById('quantity').value
        const submittedBy = document.getElementById('submittedBy').value
        const result = await fetch('/json', {
            method: 'POST',
            headers: { "Content-Type": "application/json"},
            body: JSON.stringify({"ticketNum": `${ticketNum}`, "productNum": `${productNum}`, "quantity": `${quantity}`, "submittedBy": `${submittedBy}`})
        }).then(res => res.json())
    }    
</script>
</html>
